body {
    background-image: url(./assets/background.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo {
    width: 200px;
}

#header {
    display: flex;
    align-items: center;
    gap: 20px;
}

.number {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 5px;
    border-radius: 8px;
}

.number:hover, .number:focus {
    cursor: pointer;
}

#audio {
    margin-left: 80%;
}

/* Hier startet der Style für den Modal*/
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #f4f4f4;
    margin: 20% auto;
    padding: 20px;
    width: 40%;
    border-radius: 15px;
    background-image: url(assets/background.png);
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers children horizontally in the column */
    text-align: center;  /* This ensures inline or inline-block elements like text are centered */
}

#teacher_photo {
    width: 50%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}


#close {
    color: #ccc;
    float: left;
    font-size: 30px;
    margin: 10px;
}

#close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}